<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/element/index.css">
    <link rel="stylesheet" href="../../static/css/index.css">

</head>
<body>
    <div id="app">
        <h1>部门管理</h1>
    </div>


    <script src="../../static/vue/vue.min.js"></script>
    <script src="../../static/vue/axios.min.js"></script>
    <script src="../../static/vue/qs.js"></script>
    <script src="../../static/element/index.js"></script>
<script>
    new Vue({
        el:"#app",
        data: {

        },
        created:function() {

        },
        methods:{

        }
    });
</script>
</body>
</html>